---
const {title} = Astro.props;

// Find post by title
const posts = await Astro.glob('../../pages/blog/diaries/*.mdx');
import Li from '@src/components/svelte/goToHeading.svelte'

const post = posts.filter(post=> post.frontmatter.title === title)[0];

const headings = post.getHeadings();
---

<nav class="hidden w-max h-full  md:block sticky top-10 ">
    <ul class="w-32 text-gray-600">
        {
            headings.length > 1 ?
                headings.map(heading=>
                    <Li client:load id={heading.slug} depth={heading.depth}/>
                )
            :
                <li class="text-gray-400">No headings</li>
            
            
        }
    </ul>
</nav>