---
const {title} = Astro.props;

// Find post by title
const posts = await Astro.glob('../../pages/diaries/*.mdx');
import Li from '@components/svelte/goToHeading.svelte'

const post = posts.filter(post=> post.frontmatter.title === title)[0];

const headings = post.getHeadings();
---

<nav class="w-max">
    <ul>
        {
            headings.map(heading=>
                <Li client:load id={heading.slug}/>
            )
        }
    </ul>
</nav>