---
import Example from "@src/components/3d/Example.svelte";
import Layout from "../layouts/Layout.astro";


---

<<<<<<< HEAD
<Layout title="Mili is my name.">
  <Example client:load />
=======
<Layout title="Mili is my name">
  <h1>Hi</h1>
>>>>>>> main
</Layout>

