---
// import { Image } from '@astrojs/image/components';
import pre from "@components/mdx/Pre.astro";
import h1 from "@components/mdx/Heading1.astro";
import h2 from "@components/mdx/Heading2.astro";
import p from "@components/mdx/Paragraph.astro";
// const posts = await Astro.glob('./*.mdx');
import { Content, components } from './first.mdx';

// Get Component from all posts

// const components = {
//   image: Image,
//   pre,
//   h1,
//   h2,
//   p,
  
// };


---
<!-- <Content components={{...components,  image: Image,
  pre,
  h1,
  h2,
  p}} /> -->

  <h1>
    HI
  </h1>